.head {
  display: flex;
  justify-content: center;
}
body {
  background-color: #ffffff;
  color: #2E279D;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px #ff751a;
}

#descricao {
  background-image: url(pequena.jpg);
  color: #ffffff;
  height: 350px;
  width: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #2E279D;
  font-size: 22px;
  color: azure;
}

.menu p {
  order: -1;
}

#unica {
  width: 95%;
  margin-right: 5%;
  /*overflow: auto;*/
  display: flex;
  flex-direction: row;
  /*height: max-content;*/
  border-style: solid;
  border-width: 8px;
  border-color: #4d80e4;
  background-color: #46b3e6;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subcorpo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 350px;
  width: 25%;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #ffffff;
  
 
}

/*.corpo div {
	display:inline;
	width:40%;
	height:40%;
	border: dotted;
}
*/
.conteudo {
  height: 1px;
  width: 100%;
  text-align: center;
  background-color: rgb(0,0,0,0);
  background-color: rgba(0,0,0,0,0.4);
  color: #ffffff;
  filter: none;
  -webkit-filter: none;
}

#foot {
  margin-left: 45%;
}

@media screen and (max-width: 992px) {
  .subcorpo {
    width: 40%;
  }
}

@media screen and (max-width: 770px) {
  .subcorpo {
    width: 60%;
  }
}

@media screen and (max-width: 520px) {
  .subcorpo {
    width: 80%;
  }
}

@media screen and (max-width: 336px) {
  .subcorpo {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
