.head {
  display: flex;
  justify-content: center;
}
body {
  background-color: #ffffff;
  color: #2E279D;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px #ff751a;
}

#labelFilter {
  color: black;
  margin-left: 25%;
  font-weight: bold;
}

#outerDiv {
  display: flex;
  justify-content: center;
}

#filterDiv {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

#filterDiv input {
  border-radius: 50%;

}

#filterDiv button {
  border-radius: 50%;
  color: #ffffff;
  background-color: black;
}

.card {
  box-shadow:0px 4px 8px 0px rgba(0,0,0,0.4);
  transition: 0.3s;
  width: 350px;
  height: 600px;

}

.card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cardcontainer {
  padding: 2px 16px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

#descricao {
  background-image: url(Introducao.jpg);
  color: #ffffff;
  height: 350px;
  width: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  width: 100%;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #2E279D;
  font-size: 22px;
  color: azure;
}

.menu p {
  order: -1;
}

#unica {
  width: 95%;
  margin-right: 5%;
  /*overflow: auto;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /*height: max-content;*/
}

.subcorpo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 350px;
  width: 25%;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #ffffff;
  
 
}

/*.corpo div {
	display:inline;
	width:40%;
	height:40%;
	border: dotted;
}
*/
.conteudo {
  height: 1px;
  width: 100%;
  text-align: center;
  background-color: rgb(0,0,0,0);
  background-color: rgba(0,0,0,0,0.4);
  color: #ffffff;
  filter: none;
  -webkit-filter: none;
}

#foot {
  margin-left: 45%;
}

@media screen and (max-width: 992px) {
  .subcorpo {
    width: 40%;
  }
}

@media screen and (max-width: 770px) {
  .subcorpo {
    width: 60%;
  }
}

@media screen and (max-width: 520px) {
  .subcorpo {
    width: 80%;
  }
}

@media screen and (max-width: 336px) {
  .subcorpo {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
