#unica {
   width: 90%;
   padding: 5px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-left: 25px;
  }

  .card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  mat-card {
    margin: 5px;
    width: 400px;
    height: 500px;
  }
  mat-card img {
    width: 100%;
    height: 250px;
  }
  
  