#labelFilter {
    color: black;
    margin-left: 25%;
    font-weight: bold;
  }
  
  #outerDiv {
    display: flex;
    justify-content: center;
  }
  
  #filterDiv {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  #filterDiv input {
    border-radius: 25px;
  
  }
  
  #filterDiv button {
    border-radius: 25px;
    margin: 5px;
    color: #ffffff;
    background-color: black;
  }